.sidebar {
  position: relative;
  width: 392px;
  flex-shrink: 0;
  border-radius: 24px;
  padding: 24px;
  background-color: var(--backColor);
}
.close-btn {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
    position: fixed;
    top: 49px;
    right: 0;
    border-radius: 0px;
    width: 328px;
    max-width: 90%;
    z-index: 100;
  }
  .sidebar--open {
    display: block;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
}
